*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cell-continer{
    display: flex;
    justify-content: center;
    background-color: rgb(22, 22, 22);

    .cell{
        position: relative;
        width: max-content;
    
        &.dead{
            background-color: black
        }
        &.alive{
            background-color: white;
        }
        
        &:hover{
            // border: 4px solid coral;
            background-color: coral;
        }
        
        // &:hover::before{
        //     content: '';
        //     display: block;
        //     position: absolute;
        //     top: 25%;
        //     left: 25%;
        //     height: 50%;
        //     width: 50%;
        //     border-radius: 50%;
        //     background-color: coral;
        // }
    } // .cell
} // .cell-continer

.CDecRule{
    padding: 20px 30px;
    position: absolute;
    top: 0;
    right: 0;
    color: white;

    form{
        padding-left: 10px;

        ul.scenarios{
            &::before{
                content: '';
                display: block;
                width: 100%;
                height: 5px;
                background-color: red;
            }

            >li{
                &::before{
                    content: '';
                    display: block;
                    width: 100%;
                    height: 5px;
                    background-color: coral;
                }
            }
        }


    }
}
